<h1> CREATE ANIMAL </h1>

<form action="/animal" method="post">
    <input type="text" name="species" placeholder="animal species">
    <input type="checkbox" name="extinct">
    <input type="text" name="location" placeholder="animal location">
    <input type="text" name="lifeExpectancy" placeholder="animal life expectancy">
    <input type="submit" value="CREATE LIFE">
</form>