<h1><u><%= animal.species %></u></h1>

<h2>EXTINCT: <%= animal.extinct ? "YES" : "NO" %></h2>

<h3>LOCATION: <%= animal.location %></h3>

<h4>LIFE EXPECTANCY: <%= animal.lifeExpectancy %></h4>

<a href="/animal"><h5>BACK TO ANIMALS HOME</h5></a>